.laptop-detail {
  background: white;

  .laptop-detail-header {
    padding: 0;

    .image-laptop {
      //padding-right: 0;
      position: relative;

      .image-laptop-detail {
        display: none;
        //position: absolute;
      }

      .list-image-thumbnail {
        margin: 0;

        .image-thumbnail {
          padding: 0;
        }
      }

      .active,
      .img-thb:hover {
        outline: 1px solid #0089b9;
      }
    }
  }
}
.laptop-detail-price{
  .price,
  .sale-price{
    font-size: 18px;
    font-weight: bold;
  }

}


img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */

/* Hide the images by default */
.image-laptop-detail {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

/* Position the "next button" to the right */

/* On hover, add a black background color with a little bit see-through */

/* Number text (1/3 etc) */
/* Container for image text */

.row:after {
  content: '';
  display: table;
  clear: both;
}

/* css for table */
table,
th,
td {
  border: 1px solid #000;
  font-size: 1rem;
  margin: 0;
  color: black;
}

/* Add css for laptop.tsx */

//todo chỉnh sửa khung ảnh tạm thời để khung trông đều nhau. Khi nào bàn giao phải xóa đi
.card{
  .image-size{
    position: relative;
    height: 150px;
    img{
      position: absolute;
      max-width: 100%;
      width: auto;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .float-group{
    //position: relative;
    //height: 60px;
    .card-title{
      //position: absolute;
      font-size: 20px;
      white-space: nowrap; //todo add khi title quá dài
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-title:hover{
      white-space: normal;
      overflow: visible;
      width: 100%;
    }
  }
}
//chỉnh sửa khung ảnh tạm thời để khung trông đều nhau. Khi nào bàn giao phải xóa đi

.header-banner{
  .product-banner{
    .main-banner{
      position: relative;
      height: 500px;
    }
    img{
      position: absolute;
      max-width: 100%;
      width: auto;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.laptop-icon{
  span{
    cursor: pointer;
  }
}