.product-detail {
  background: white;
  .product-detail-header {
    padding: 0;
    .image-product {
      //padding-right: 0;
      position: relative;
      .image-product-detail {
        display: none;
        //position: absolute;
      }
      .list-image-thumbnail {
        margin: 0;
        .image-thumbnail {
          padding: 0;
        }
      }
      .active,
      .img-thb:hover {
        outline: 1px solid #0089b9;
      }
    }
  }
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */

/* Hide the images by default */
.image-product-detail {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

/* Position the "next button" to the right */

/* On hover, add a black background color with a little bit see-through */

/* Number text (1/3 etc) */
/* Container for image text */

.row:after {
  content: '';
  display: table;
  clear: both;
}

/* css for table */
table,
th,
td {
  border: 1px solid #000;
  font-size: 1rem;
  margin: 0;
  color: black;
}
/* Add a transparency effect for thumnbail images */
