.checkout-custom {
  position: relative;
  margin: 20px auto;
  .progress-multi {
    padding: 15px;
    background-color: transparent;
    .progress {
      height: 40px;
      .progress-bar {
        height: 40px;
        font-size: 20px;
      }
    }
  }
  form {
    .checkout-information {
      display: flex;
      .infor-customer {
        .title {
          margin: 0;
          border: 1px solid #eee;
          border-bottom: none;
          background: #f7f7f7;
          padding: 5px 15px;
          font-size: 20px;
        }
        .infor-content {
          border: 1px solid #eee;
          padding: 20px 20px 0 20px;
          .checkout-group {
            display: flex;
            .left {
              justify-content: flex-start;
              width: 70px;
            }
            .right {
              justify-content: flex-end;
            }
          }
        }
        .btn-right {
          position: relative;
          margin-top: 10px;
          .btn-checkout {
            background: red;
            width: 120px;
            position: absolute;
            right: 0;
          }
          .btn-checkout::after {
            content: '';
            display: block;
            position: absolute;
            width: 12px;
            height: 8px;
            background: url('./../../../content/images/spritesheet.png') -264px -81px no-repeat;
            top: 16px;
            right: 10px;
          }
        }
      }
    }
  }
}
.product-customer {
  .title {
    margin: 0;
    border: 1px solid #eee;
    border-bottom: none;
    background: #f7f7f7;
    padding: 5px 15px;
  }
  .infor-content {
    border: 1px solid #eee;
    padding: 20px 0 0 20px;
    .content-product {
      overflow: auto;
      max-height: 410px;
      .product {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        div {
          padding: 5px;
        }
        .image {
          max-width: 100px;
          height: auto;
          img {
            width: 100%;
          }
        }
        .price {
          font-family: 'Times New Roman';
        }
      }
    }
    .total-price {
      margin-top: 20px;
    }
  }
}
//complete order
.complete-order {
  display: flex;
  header h3 {
    border: 1px solid green;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 10px 15px;
    color: green;
    text-align: center;
  }
  .infor-connect {
    .notify {
      margin: 30px 0;
      span {
        color: #007bff;
        font-weight: bold;
      }
    }
    .title {
      border: 1px solid #eee;
      background-color: #f7f7f7;
      margin: 0;
      padding: 0 15px;
    }
    .infor {
      div {
        position: relative;
        text-indent: 15px;
      }
      div::before {
        content: '';
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: #888888;
        border-radius: 50%;
        left: 0;
        top: 9px;
      }
    }
  }
}
