.view{
  .container{
    .image-size{
      position: relative;
      height: 150px;
      img{
        position: absolute;
        max-width: 100%;
        width: auto;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .float-group{
      //position: relative;
      //height: 60px;
      .card-title{
        //position: absolute;
        font-size: 16px;
        white-space: nowrap; //todo add khi title quá dài
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .card-title:hover{
        white-space: normal;
        overflow: visible;
        width: 100%;
      }
    }
  }
}
