.banner {
  height: auto;
  //margin-top: 81px;
  img {
    width: 150px;
    height: auto;
    margin: 10px 0;
  }
}

.commit-title {
  font-size: 13px;
  color: black;
}

.commit-subtitle {
  font-size: 13px;
  color: black;
}
