/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

.home-content {
  .home-container {
    padding: 0;

    section {
      hr {
        font-weight: bold;
        height: 2px;
        margin-bottom: 20px;
        padding: 0;
      }

      .section-content {
        .section-banner {
          padding: 0;

          a {
            padding-left: 0;
            padding-top: 0;
          }
        }

        .section-main {
          .section-product {
            //display: table-cell;
            padding: 2px;

            .price-old {
              text-decoration: line-through;
            }

            a {
              padding: 0;
            }
          }

          .card {
            .image-size {
              position: relative;
              height: 150px;

              img {
                position: absolute;
                max-width: 100%;
                width: auto;
                max-height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .card-body {
              .card-title {
                white-space: nowrap; //todo add khi title quá dài
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .card-title:hover {
                white-space: normal;
                overflow: visible;
                width: 100%;
              }
            }

          }
        }
      }
    }
  }
}

.banner-img {
  .click-handle {
    width: 110px;
    margin: 10px auto;
  }

  img {
    max-width: 100%;
  }

  a {
    padding: 5px 0 5px 5px;
  }
}