$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);
$dropdown-color: white;
$dropdown-main: #c71c22;
$dropdown-hover: #dd5600;
$dropdown-hover-ouline: #c71c22;

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;

  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }

  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;

    img {
      height: 45px;
    }
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;

  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}

//test
#app-header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 1999;
  transition: top 0.3s;

  .shop-header {
    position: relative;

    a {
      color: #ffffff;
      font-size: 16px;
    }

    .dropdown-menu {
      padding: 0;
    }

    .dropdown-item {
      color: $dropdown-color !important;
      background: $dropdown-main;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
      color: $dropdown-color !important;
      background-color: $dropdown-hover !important;
      outline: 2px solid $dropdown-hover-ouline !important;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      color: $dropdown-color;
      background: $dropdown-hover;
    }
  }
}

////test scroll
//.app-container-header {
//  position: fixed;
//  width: 100%;
//  height: auto;
//  top: 0;
//  z-index: 1999;
//  transition: top 0.3s;
//  .shop-header {
//    position: relative;
//    padding: 0; //test thu hom 23/11
//    a {
//      color: #ffffff;
//      font-size: 16px;
//    }
//
//  }
//}
//#app-hidden {
//  position: fixed;
//  width: 100%;
//  height: auto;
//  top: -81px;
//  z-index: 999;
//  transition: top 0.3s;
//  .shop-header {
//    position: relative;
//    a {
//      color: #ffffff;
//      font-size: 16px;
//    }
//  }
//}
